
h1, .tar, .btnCriar{
    text-align:center;
    display: block;
    margin: 15px auto;
    
}
body{
    width: 50%;
    height: 80%;
    border: 1px dashed;
    margin: 0 auto;
    background-color: #e0d5a080;
}
ul{
    display: flex;
    margin-left: 15px;
    input, li ,button{
        margin-left: 20px;
    }
    fa-icon{
        margin-left: 10px;
    }
}
.tar{
    border-radius: 10px;
}
h1{
    color: #0787ff6e;
    text-shadow: 2px 2px 0 rgba(255,0,180,0.5);
}