<body>
<h1>Minha Lista</h1>

<input type="text"  class="tar" placeholder="Digite a sua tarefa" 
[(ngModel)]="input" (keyup.enter)="addTarefas()" (blur)="addTarefas()">

<button (click)="addTarefas()" [disabled]="input === '' " class="btnCriar">OK</button>
<section>
<ul *ngFor="let tarefa of tarefas; let i = index">
    <input type="checkbox" [(ngModel)]="tarefa.feito">
    <li [style]="tarefa.feito ? 'color: green' : 'color: red'" >{{ tarefa.input }}</li> 
    <button (click)="del(i)" class="btnDel">Deletar</button>
</ul>

</section>
</body>